<!DOCTYPE html>


<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="alternate" href="/index.xml" type="application/rss+xml" title="fireap">
		<link rel="icon" href="http://key-amb.github.io/fireap-doc/favicon.ico">
		<title>Getting Started - fireap</title>
		
		<link rel="stylesheet" href="http://key-amb.github.io/fireap-doc/css/highlight/atelier-forest-dark.css">
		<link rel="stylesheet" href="http://key-amb.github.io/fireap-doc/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://key-amb.github.io/fireap-doc/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="http://key-amb.github.io/fireap-doc/css/theme.css">
		<link rel="stylesheet" href="http://key-amb.github.io/fireap-doc/css/bootie-docs.css">
	</head>

<body role="document">

	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://key-amb.github.io/fireap-doc/">fireap</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ><a href="http://key-amb.github.io/fireap-doc/">Home</a></li>
			
				
				
					
					<li class="active"><a href="http://key-amb.github.io/fireap-doc/getting-started">Quickstart</a></li>
				
					
					<li ><a href="http://key-amb.github.io/fireap-doc/cli-usage">CLI</a></li>
				
					
					<li ><a href="http://key-amb.github.io/fireap-doc/specification">Spec</a></li>
				
			
				
				</ul>
				
				<form class="navbar-form navbar-left" role="search" action="https://www.google.co.jp/search" method="get">
					<div class="input-group doc-search-form">
						<input type="hidden" name="as_sitesearch" value="key-amb.github.io/fireap-doc">
						<input type="text" name="as_q" class="search-query doc-search-input-text" placeholder="Search Site">
						<span class="input-group-addon input-group-btn doc-search-input-btn">
							<button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</form>
				
			</div>
		</div>
	</nav>

<div class="container">


<div class="row">
	<div class="col-sm-8 doc-main">
		<main role="main">
			<article>
				<a id="title"></a>
				<h1 class="doc-entry-title">Getting Started</h1>
				<div class="doc-entry-meta">
					<span><time datetime="2016-05-05">May 05, 2016</time></span>
				</div>
				<section>
					

<p>This guide shows you how to install and configure <strong>fireap</strong> to run it,
and what is needed beforehand.</p>

<h2 id="prerequisites:b6885e1f85551f51a4707c402f8200a3">Prerequisites</h2>

<h3 id="software-requirements:b6885e1f85551f51a4707c402f8200a3">Software Requirements</h3>

<ul>
<li>Consul v0.6.3 or later (recommended; v0.4.0 or higher is needed at least)</li>
<li>Ruby v2.3.0 or later (recommended, but not necessarily)</li>
</ul>

<h3 id="set-up-consul-cluster:b6885e1f85551f51a4707c402f8200a3">Set up Consul Cluster</h3>

<p>Before you start with <strong>fireap</strong>, you need a <em>Consul</em> cluster.<br />
Please refer to documentation on <a href="https://www.consul.io/docs/">consul.io</a>
to set up <em>Consul</em> cluster in your environment.</p>

<h2 id="install:b6885e1f85551f51a4707c402f8200a3">Install</h2>

<p>NOTE:</p>

<ul>
<li>Install ruby and gems environment for system user who will execute
<strong>fireap</strong> tasks.</li>
<li>You need to install <strong>fireap</strong> and ruby environment on every machine where
<strong>fireap</strong> tasks will be executed.</li>
</ul>

<pre><code>git clone https://github.com/key-amb/fireap.git
cd fireap
# Install ruby gems in depend. Install &quot;bundler&quot; gem beforehand.
bundle install
bin/fireap help
</code></pre>

<p>If last command successfully shows the CLI usage, <strong>fireap</strong> is ready for you.</p>

<p>Instead HEAD of master branch, you can download released archives from
<a href="https://github.com/key-amb/fireap/releases">https://github.com/key-amb/fireap/releases</a> . It is your choice.</p>

<h2 id="configure:b6885e1f85551f51a4707c402f8200a3">Configure</h2>

<h3 id="configure-fireap:b6885e1f85551f51a4707c402f8200a3">Configure &ldquo;fireap&rdquo;</h3>

<p>To run <code>fireap</code> commands, you need a configuration file whose format is
<a href="https://github.com/toml-lang/toml">TOML</a>.</p>

<p>The snippet below shows a sample configuration file:</p>

<pre>
<code class="hljs yaml">## General Settings
# url = "http://localhost:8500"
# enable_debugging = "true" # For development Only

[log]
level  = "INFO"  # from Ruby Logger::LEVEL
rotate = "daily" # from Ruby Logger shift_age
# file = path/to/logfile

## Common Task Settings
# Can be overridden by each app settings
[task]
max_semaphores  = 5   # Max concurrency when one node can be "pulled" by others
wait_after_fire = 15  # seconds. Don't wait if not defined
watch_timeout   = 120 # seconds
on_command_failure = "abort" # or "ignore". Default is "abort"

# You can define common task commands for all apps here.
# Available variables for command formats:
#   - @app            ... Target App's Name
#   - @remote.name    ... Node Name in Consul Cluster
#   - @remote.address ... Node's Ipaddress in Consul Cluster
#   - ENV             ... Given Environment Vars for Watch Command
before_commands = [
    "echo Task <%= @app %> Started.",
]
# exec_commands = [] # Probably different for each apps.
after_commands = [
    "echo Task <%= @app %> Ended.",
]

# Belows are not implemented yet:
# command_timeout = 60

## Settings for each Task target Application
[task.apps.foo]
# max_semaphores  = 3
# before_commands = []
exec_commands = [
    #"scp -rp <%= @remote.name %>:<%= ENV['HOME'] %>/<%= @app %> <%= ENV['HOME'] %>/"
    "scp -rp <%= @remote.address %>:<%= ENV['HOME'] %>/<%= @app %> <%= ENV['HOME'] %>/"
]

# You can specify Consul service and tag to filter the task propagation targets.
# It can be normal string or regexp; if you want to specify regexp, use the keys
# "service_regexp" or "tag_regexp".
# If you miss "service" or "service_regexp" filter, "tag" and "tag_regexp" won't
# be evaluated.
service = "foo"
tag     = "v1"
# service_regexp = "^foo(:[a-z]+)?$"
# tag_regexp = "^v[0-9]$"

[task.apps.bar]
on_command_failure = "ignore"
before_commands = []
exec_commands = [
    "date '+%FT%T' > /tmp/bar.updated_at.txt",
    "rsync -az --delete --exclude='.git*' <%= @remote.address %>:<%= ENV['HOME'] %>/<%= @app %> <%= ENV['HOME'] %>/",
]
after_commands = []
</code></pre>

<p>Some of configurations are commented out in this snippet.
You can enable it by uncommenting.</p>

<p>You find a sample in <a href="https://github.com/key-amb/fireap/blob/master/config/sample.toml">config/sample.toml</a>
in this repository, which is similar to the one above.</p>

<p>Here are supplementary explanations:</p>

<ul>
<li>In <code>General</code> section:

<ul>
<li>You can change HTTP API address and port of <em>Consul agent</em> by overwriting
<code>uri</code> parameter, which is called by <strong>fireap</strong> command.</li>
</ul></li>
<li>In <code>[task]</code> section:

<ul>
<li>You can configure common parameters through all tasks in this section.</li>
<li>Every parameter in this section can be overwritten in subordinate sections.
For example, if you want to change a parameter in task <em>&ldquo;foo&rdquo;</em>, you can overwrite
it in section <code>[task.apps.foo]</code></li>
</ul></li>
<li>Commands combination:

<ul>
<li>Command list executed are combination of <code>before_commands</code>, <code>exec_commands</code>
and <code>after_commands</code>. Keep in mind that parameter overwriting takes place which
is explained above.</li>
</ul></li>
</ul>

<p>You can check your configuration by running <code>fireap task</code> command.<br />
For the sample configuration above, it goes as follows:</p>

<pre><code class="language-bash">% fireap task -c config/sample.toml
== Configured Tasks ==
[Summary]
+-----+--------+---------+-----------+---------+------+---------------+
| App | MaxSem | Timeout | OnCmdFail | Service | Tag  | WaitAfterFire |
+-----+--------+---------+-----------+---------+------+---------------+
| foo | 5      | 120 sec | ABORT     | ^foo$   | ^v1$ | 15 sec        |
| bar | 5      | 120 sec | IGNORE    |         |      | 15 sec        |
+-----+--------+---------+-----------+---------+------+---------------+
[App &quot;foo&quot; - Commands]
+---+-----------------------------------------------------------------------------------+
| # | Command                                                                           |
+---+-----------------------------------------------------------------------------------+
| 1 | echo Task &lt;%= @app %&gt; Started.                                                    |
| 2 | scp -rp &lt;%= @remote.address %&gt;:&lt;%= ENV['HOME'] %&gt;/&lt;%= @app %&gt; &lt;%= ENV['HOME'] %&gt;/ |
| 3 | echo Task &lt;%= @app %&gt; Ended.                                                      |
+---+-----------------------------------------------------------------------------------+
[App &quot;bar&quot; - Commands]
+---+--------------------------------------------------------------------------------------------+
| # | Command                                                                                    |
+---+--------------------------------------------------------------------------------------------+
| 1 | date '+%FT%T' &gt; /tmp/bar.updated_at.txt                                                    |
| 2 | rsync -az --delete --exclude='.git*' &lt;%= @remote.address %&gt;:&lt;%= ENV['HOME'] %&gt;/&lt;%= @app %&gt; |
|   |  &lt;%= ENV['HOME'] %&gt;/                                                                       |
+---+--------------------------------------------------------------------------------------------+
</code></pre>

<h3 id="configure-consul-agent:b6885e1f85551f51a4707c402f8200a3">Configure Consul Agent</h3>

<p>Your Consul agent need to be passed <code>-watch</code> option by command line or <code>watches</code> parameter in your configuration file.<br />
Read <a href="https://www.consul.io/docs/agent/options.html">document on consul.io</a> for details of agent configuration.</p>

<p>Here is an example of configuration file of Consul client agent:</p>

<pre><code class="language-json">// consul-agent-conf.json
{
  &quot;server&quot;:   false,
  &quot;data_dir&quot;: &quot;/opt/consul&quot;,
  &quot;watches&quot;: [
    {
      &quot;type&quot;: &quot;event&quot;,
      &quot;name&quot;: &quot;FIREAP:TASK&quot;,
      &quot;handler&quot;: &quot;&lt;FIREAP HANDLER COMMAND&gt;&quot;
    }
  ]
}
</code></pre>

<h4 id="watch-handler-command:b6885e1f85551f51a4707c402f8200a3">Watch Handler Command</h4>

<p><code>&lt;FIREAP HANDLER COMMAND&gt;</code> in the example configuration above is a watch handler in Consul.<br />
This can be any executable on your machine.</p>

<p>There can be two situations:</p>

<ul>
<li>CASE1) When system user who runs <code>consul agent</code> is the same to who runs <code>fireap</code>.

<ul>
<li>In this case, HANDLER COMMAND comes simple. Ex) <code>fireap reap -c /path/to/config.toml</code></li>
</ul></li>
<li>CASE2) When system user who runs <code>consul agent</code> is different from who runs <code>fireap</code> command.

<ul>
<li>The former user must be able to switch to the latter user on <code>fireap</code> execution by any command such as <code>sudo</code> or <code>setuidgid</code>.</li>
<li>Suppose the latter user&rsquo;s name is <code>reaper</code>, an example of HANDLER COMMAND using <code>sudo</code> goes like this: <code>sudo -u reaper -- fireap reap -c /path/to/config.toml</code></li>
</ul></li>
</ul>

<p>You can specify the configuration file path by shell environment varialbe
<code>$FIREAP_CONFIG_PATH</code> as well as command line option <code>-c|--config &lt;PATH&gt;</code>.</p>

<p>If you want to check what will happen preliminarily, you can add <code>--dry-run</code>
option to <code>fireap reap</code> command.</p>

<p>After tasks are fired, you can find the task execution sequence in the log
file on <em>subscriber</em> nodes.</p>

<p>See <a href="../cli-usage">CLI Usage</a> for more information of <code>fireap reap</code> command.</p>

<h2 id="run-fireap-task:b6885e1f85551f51a4707c402f8200a3">Run &ldquo;fireap&rdquo; Task</h2>

<p>Execute following steps on <em>publisher</em> node to run <strong>fireap</strong> task in the
cluster:</p>

<ol>
<li>Update materials on <em>publisher</em> host which are needed for <em>subscribers</em>
to &ldquo;pull&rdquo; them from <em>publisher</em>.</li>
<li>Execute <code>fireap fire</code> command on <em>publisher</em> host. It goes like below:</li>
</ol>

<pre><code class="language-sh">fireap fire -a &lt;APP&gt; -v &lt;VERSION&gt; -c /path/to/config.toml
</code></pre>

<p><code>&lt;APP&gt;</code> is the task name in your <strong>fireap</strong> configuration file; <code>foo</code>
or <code>bar</code> can be specified in the sample configuration of this document.</p>

<p><code>&lt;VERSION&gt;</code> is a ascii word to indicate <em>version</em> of the task such as
&ldquo;v1.0&rdquo; or &ldquo;ver-2.0.0-beta1&rdquo;.</p>

<p>See <a href="../cli-usage">CLI Usage</a> for more information about this command.</p>

<h2 id="references:b6885e1f85551f51a4707c402f8200a3">References</h2>

<ul>
<li><a href="https://www.consul.io/docs/agent/watches.html">Watches - Consul by HashiCorp</a></li>
</ul>

				</section>
			</article>
		</main>
	</div> 

	
<div class="col-sm-3 col-sm-offset-1 doc-sidebar">
	<div id="sidebar">
	<div class="sidebar-module">
		<div class="sidebar-toc">
			<h4 class="sidebar-heading">Table of Contents</h4>
			<ul>
				<li><strong><a href="#title">Getting Started</a></strong></li>
			</ul>
			<nav id="TableOfContents">
<ul>
<li>
<ul>
<li><a href="#prerequisites:b6885e1f85551f51a4707c402f8200a3">Prerequisites</a>
<ul>
<li><a href="#software-requirements:b6885e1f85551f51a4707c402f8200a3">Software Requirements</a></li>
<li><a href="#set-up-consul-cluster:b6885e1f85551f51a4707c402f8200a3">Set up Consul Cluster</a></li>
</ul></li>
<li><a href="#install:b6885e1f85551f51a4707c402f8200a3">Install</a></li>
<li><a href="#configure:b6885e1f85551f51a4707c402f8200a3">Configure</a>
<ul>
<li><a href="#configure-fireap:b6885e1f85551f51a4707c402f8200a3">Configure &ldquo;fireap&rdquo;</a></li>
<li><a href="#configure-consul-agent:b6885e1f85551f51a4707c402f8200a3">Configure Consul Agent</a>
<ul>
<li><a href="#watch-handler-command:b6885e1f85551f51a4707c402f8200a3">Watch Handler Command</a></li>
</ul></li>
</ul></li>
<li><a href="#run-fireap-task:b6885e1f85551f51a4707c402f8200a3">Run &ldquo;fireap&rdquo; Task</a></li>
<li><a href="#references:b6885e1f85551f51a4707c402f8200a3">References</a></li>
</ul></li>
</ul>
</nav>
		</div>
	</div>
	<div class="sidebar-module">
		<h4 class="sidebar-heading">Categories</h4>
		<ul class="sidebar-category-list">
		
			<li>
				<a href="http://key-amb.github.io/fireap-doc/categories/general">
					<span class="doc-list-category">General</span>
				</a>
				<ul>
					<li><a href="/fireap-doc/specification/">Specification</li>
				
					<li><a href="/fireap-doc/cli-usage/">CLI Usage</li>
				
					<li><a href="/fireap-doc/getting-started/">Getting Started</li>
				
				</ul>
			</li>
		
		</ul>
	</div>
	<div class="sidebar-module">
		<h4 class="sidebar-heading">Tags</h4>
		<div class="tag-box">
		
			<a class="tag-item" href="http://key-amb.github.io/fireap-doc/tags/document">document</a>
		
		</div>
	</div>
	</div>
</div>

</div> 


<hr />

<div class="row">
	<div class="col-sm-8">
		<p class="doc-footer-em"><a href="#" onclick="resetSidebarPos()">Back to TOP</a></p>
	</div>
</div>

</div> 

<footer class="doc-footer">
	<p class="doc-footer-em">Browse <strong><a href="https://github.com/key-amb/fireap/">Repository</a></strong></p>
	<p>Copyright (c) 2016, YASUTAKE Kiyoshi; All rights reserved.</p>
	<p>Powered by <strong><a href="https://github.com/key-amb/hugo-theme-bootie-docs">Bootie Docs</a></strong> - theme for <a href="http://gohugo.io/">Hugo</a> by <a href="https://github.com/key-amb/">key-amb</a>.</p>
</footer>



<script src="http://key-amb.github.io/fireap-doc/js/jquery.min.js"></script>
<script src="http://key-amb.github.io/fireap-doc/js/bootstrap.min.js"></script>

<script src="http://key-amb.github.io/fireap-doc/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="http://key-amb.github.io/fireap-doc/js/ie10-viewport-bug-workaround.js"></script>
<script src="http://key-amb.github.io/fireap-doc/js/bootie-docs.js"></script>

</body>
</html>
